<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LoginandPassword.My.MySettings.dbprofile1ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\dbprofile1.accdb" providerName="System.Data.OleDb" />
        <add name="LoginandPassword.My.MySettings.dbaccessConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\dbaccess.accdb" providerName="System.Data.OleDb" />
        <add name="LoginandPassword.My.MySettings.dbaccessConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Joshua\Documents\dbaccess.accdb" providerName="System.Data.OleDb" />
        <add name="LoginandPassword.My.MySettings.dbprofileConnectionString" connectionString="Data Source=LAPTOP-K50OO2SR\SQLEXPRESS;Initial Catalog=dbprofile;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="LoginandPassword.My.MySettings.dbprofileConnectionString1" connectionString="Data Source=LAPTOP-PJK8KVEG\SQLEXPRESS;Initial Catalog=dbprofile;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>